<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender per la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configurazione del logger root -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
